version: "3.7"

services:
  sut:
    build: .
    command: /home/docker-backup/tests/run-tests.sh
    environment:
      - CRON_BACKUP=0 0 0 0 0
      - ENABLE_LTS=false
      - ENABLE_PRUNE=false
      - ASSUME_YES=true
      - VERBOSE=true
      - DEBUG=false
      - RUN_TEST=${RUN_TEST}
      - RUN_SPEC=${RUN_SPEC}
      - MINIMUM_FREE_SPACE=10
      - TZ=UTC
    volumes:
      - ./tests:/home/docker-backup/tests
      - /var/run/docker.sock:/var/run/docker.sock # to be able to shut down other containers
