version: '3.7'

services:
  sut:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    command: /home/docker-backup/tests/run-tests.sh
    environment:
      - CRON_BACKUP=0 0 0 0 0
      - ENABLE_LTS=false
      - ENABLE_PRUNE=false
      - ASSUME_YES=true
      - LOG_LEVEL=0
      - DEBUG=false
      - RUN_TEST=${RUN_TEST}
      - RUN_SPEC=${RUN_SPEC}
      - MINIMUM_FREE_SPACE=10
      - TZ=UTC
    volumes:
      - ../tests:/home/docker-backup/tests # mount the tests to be run
