name: CD

on:
  push:
    branches: [master]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    env:
      DOCKER_REGISTRY: niclaslindstedt
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: check for changes
        uses: dorny/paths-filter@v2
        id: changes
        with:
          filters: |
            source:
              - 'docker/**'
              - 'lib/**'
              - '.dockerignore'

      - name: docker login
        if: steps.changes.outputs.source == 'true'
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login --username ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: run tests
        if: steps.changes.outputs.source == 'true'
        run: ./.github/scripts/test.sh

      - name: docker build
        if: steps.changes.outputs.source == 'true'
        run: ./.github/scripts/build.sh ${{ env.DOCKER_REGISTRY }}

      - name: docker push
        if: steps.changes.outputs.source == 'true'
        run: docker push --all-tags ${{ env.DOCKER_REGISTRY }}/docker-backup
