name: CD

on:
  push:
    branches: [master]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    env:
      DOCKER_REGISTRY: niclaslindstedt
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: docker login
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login --username ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: run tests
        run: docker-compose -f docker-compose.test.yml run --rm sut

      - name: docker build
        run: ./scripts/build.sh ${{ env.DOCKER_REGISTRY }}

      - name: docker push
        run: docker push --all-tags ${{ env.DOCKER_REGISTRY }}/docker-backup
