name: Test

on:
  push:
    branches:
      - "!master"
  workflow_dispatch:

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: run tests
        run: docker-compose -f docker-compose.test.yml run --rm sut
