name: Release

on:
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    env:
      DOCKER_REGISTRY: niclaslindstedt
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: docker login
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login --username ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: docker build
        run: ./.github/scripts/build.sh ${{ env.DOCKER_REGISTRY }}

      - name: create branch
        uses: peterjgrainger/action-create-branch@v2.0.1
        with:
          branch: release-notes

      - name: generate changelog
        id: changelog
        uses: TriPSs/conventional-changelog-action@v3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          git-message: 'chore: Release {version}'

      - name: create release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ steps.changelog.outputs.tag }}
          body: ${{ steps.changelog.outputs.clean_changelog }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: pull request
        uses: peter-evans/create-pull-request@v3
        with:
          branch: release-notes
          title: 'chore: Release {version}'
          body: ${{ steps.changelog.outputs.clean_changelog }}

      - name: docker tag
        run: ./.github/scripts/tag.sh ${{ steps.changelog.outputs.tag }} ${{ env.DOCKER_REGISTRY }}

      - name: docker push
        run: ./.github/scripts/push.sh ${{ steps.changelog.outputs.tag }} ${{ env.DOCKER_REGISTRY }}
