name: Release

on:
  workflow_dispatch:

jobs:
  push-tag:
    runs-on: ubuntu-latest
    env:
      DOCKER_REGISTRY: niclaslindstedt
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: docker login
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login --username ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: docker build
        run: ./.github/scripts/build.sh ${{ env.DOCKER_REGISTRY }}

      - name: docker tag
        run: ./.github/scripts/tag.sh ${GITHUB_REF##*/v} ${{ env.DOCKER_REGISTRY }}

      - name: docker push
        run: ./.github/scripts/push.sh ${GITHUB_REF##*/v} ${{ env.DOCKER_REGISTRY }}

      - name: generate changelog
        id: changelog
        uses: TriPSs/conventional-changelog-action@v3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          output-file: 'false'

      - name: create release
        uses: actions/create-release@v1
        if: ${{ steps.changelog.outputs.skipped == 'false' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.changelog.outputs.tag }}
          release_name: ${{ steps.changelog.outputs.tag }}
          body: ${{ steps.changelog.outputs.clean_changelog }}
